body{
    font-family: 'JetBrains Mono', monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.content{
    padding-top: 5%;
    margin: auto;
    width: 65%;
    text-align: center;
}

.titles{
    padding-bottom: 30px;
}

.foto{
    width: 200px;
}

.ttd{
    width: 100px;
}

.tbspc{
    text-align: center;
}

.ps{
    padding-top: 10px;
    text-align: left;
    width: 70%;
}